.wrap-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .auth-modal {
        width: 400px;
        height: 200px;
        background: cyan;
    }

    .wrap {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

        .aside {
            background: yellow;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

            .nav-link {
                margin-bottom: 10px;
            }

            .nav-link.active {
                font-weight: bold;
            }        

        .content {
            background: cyan;
            flex-grow: 1;
            min-height: 100vh;
        }

            .content-inner {
                display: flex;
                flex-direction: column;
            }

                .header {
                    background: lime;
                    padding: 10px;
                }

                    .header-inner {
                        height: 20px;
                        overflow: hidden;
                        display: flex;
                        justify-content: flex-end;;
                    }            

                .main {
                    padding: 10px;
                    height: calc(100vh - 100px);
                }

                .footer {
                    background: navy;
                    padding: 10px;
                }

                    .footer > * {
                        height: 20px;
                        overflow: hidden;
                    }